@import "partials/variables";
@import "partials/nav-icon";
@import "partials/fonts";

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    height: 20000px;
}

h1,
h2,
h3,
li,
a,
span {
    font-family: 'League';
}

p {
    font-family: 'open sans';
}

.league {
    font-family: 'League';
}

section {
    float: left;
    position: fixed;
    height: 100vh;
    width: 100vw;
    color: white;
    overflow: hidden;
    z-index: 2;
}

ul {
    list-style-type: none;
}

#nav {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: $cyan;
    transform: rotateZ(150deg) translateY(5%) translateX(-9%);
    transform-origin: 90% 10%;
    transition: 0.25s transform ease-out;
    color: white;
    
    &.active {
        transform: rotateZ(0) translateY(0) translateX(0);
        
        ul>li {
            opacity: 1;
        }
    }
    
    .nav-list {
        width: 700px;
        height: auto;
        position: absolute;
        top: 50px;
        left: 50%;
        z-index: 999999;
        text-align: center;
        margin-left: -350px;
    
        li {
            font-family: 'League';
            font-size: 3em;
            text-transform: uppercase;
            padding: 15px 0;
            border-bottom: 1px solid white;
            opacity: 0;
            transition: 0.9s opacity ease-out;
            
            a {
                text-decoration: none;
                color: white;
                
                &:hover {
                    color: $dark-cyan;
                }
            }
            
            
            
            &:nth-of-type(1) {
                letter-spacing: 15px;
            }
            
            &:nth-of-type(2) {
                letter-spacing: 10px;
            }
            
            &:nth-of-type(3) {
                letter-spacing: 5px;
            }
        }
    }
    
    .copyright {
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 0.7em;
        position: absolute;
        left: 0;
        bottom: 75px;
        width: 100%;
        text-align: center;
    }
}

#home-aaron {
    height: auto;
    width: 1200px;
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-left: -600px;
    opacity: 0;
}

#home-aaron-bg {
    height: auto;
    width: 1500px;
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: -200px;
    left: 50%;
    margin-left: -750px;
    opacity: 0;
}

#code-bg {
    width: 1920px;
    height: 1080px;
    min-width: 120vw;
    min-height: 120vh;
    position: absolute;
    top: 0;
    left: 0;
}

#home-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#home {
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: $dark-blue;
    
    .title-container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: auto;
        text-align: center;
        text-transform: uppercase;

        h1 {
            float: left;
            width: 100%;
            font-size: 8em;
            padding: 0;
            margin: 0;
            opacity: 0;
            letter-spacing: 10px;
        }

        h2 {
            float: left;
            width: 100%;
            font-size: 4em;
            padding: 0;
            margin: 0;
            opacity: 0;
            font-style: italic;
            letter-spacing: 2px;
        }
    }
    
    .intro {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        width: 1000px;
        margin-top: -300px;
        margin-left: -500px;
    }
    
    .intro-finish {
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        width: 1000px;
        margin-left: -500px;
        margin-top: 100px;
    }
}

#accomp {
    background: -webkit-linear-gradient(left, rgba(255,252,252,0) 31%,rgba(255,252,252,0) 35%,rgba(0,174,239,0.2) 40%,rgba(0,15,35,1) 71%,rgba(0,15,35,1) 100%),
        url('../img/Accomp-Aaron-Background.png');
    background-size: cover;
    background-position: right, 0% 0%;
    background-repeat: no-repeat;
    position: fixed;
    top: 100%;
    left: 0;
    
    .accomp-list {
        position: absolute;
        left: 50%;
        top: 50%;
        height: auto;
        width: 100%;
        transform: translateY(-50%);
        margin-left: 200px;
        
        li {
            display: block;
            height: 80px;
            line-height: 80px;
            margin: 20px 0;
            background-color: $accomp-blue;
            padding-left: 25px;
            overflow: hidden;
            transition: 0.25s all ease-out;
            transform: translateX(100%);
            font-size: 2.5em;
            cursor: pointer;
            color: $dark-blue;
        }
    }
    
    .content {
        position: absolute;
        top: 50%;
        left: 50px;
        margin-top: -100px;
        width: 50%;
        height: 300px;
        font-size: 2.8em;
        padding: 0 120px 0 30px;
        opacity: 0;
        
        text-align: center;
    }
    
    .modal {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-60%);
        height: 0px;
        width: 60%;
        transition: 0.25s height ease-out;
        overflow: hidden;
        background-color: $dark-blue;
        padding: 0 50px 0 20px;
        
        h2 {
            font-size: 2em;
            letter-spacing: 2px;
        }
        
        p {
            opacity: 0;
            transition: 0.5s opacity ease-out;
        }
        
        span {
            position: absolute;
            top: 25px;
            right: 50px;
            padding: 0 10px;
            cursor: pointer;
        }
        
        &.active {
            height: 200px;
            
            p {
                opacity: 1;
            }
        }
    }
}

#accomp-aaron {
    position: absolute;
    left: 50%;
    margin-left: -800px;
    bottom: 0;
    height: 100%;
    
    @media screen and (min-width: 1300px) {
        left: 0;
        margin-left: -200px;
    }
}

#charges {
    top: 100%;
    left: 0;
    background: black;
    
    video {
        height: 150%;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%) translateY(-50%);
    }
    
    .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background: rgba(0,0,0,0.5);
        text-align: center;
        
        p {
            width: 1000px;
            height: auto;
            font-size: 3em;
            color: #fff;
            
            span {
                display: block;
                font-size: 1.8em;
                color: $light-blue;
                width: 1000px;
            }
        }
        
        
    }
    
    .charge-list {
        width: 100%;
        position: absolute;
        left: 0;
        top: 60%;
        height: auto;
        text-align: center;
        
        li {
            width: 160px;
            height: 160px;
            border-radius: 50%;
            text-align: center;
            background-color: $dark-cyan;
            padding: 40px 10px 50px 10px;
            font-size: 2.2em;
            margin-right: 20px;
            display: inline-block;
            color: $light-blue;
            cursor: pointer;
            text-transform: uppercase;
            
            &:nth-of-type(1) {
                transform: translateY(-40px);
                padding-top: 40px;
            }
        }
    }
    
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 500px;
        width: 500px;
        margin: -250px 0 0 -250px;
        background-color: $cyan;
        border-radius: 50%;
        transform: scale(0);
        opacity: 0;
        transition: 0.25s all ease-out;
        text-align: center;
        padding: 100px 0;
        
        &.active {
            transform: scale(1);
            opacity: 1;
            z-index: 4;
        }
        
        h2 {
            font-size: 3em;
            color: $dark-cyan;
            margin: 0;
        }
        
        h3 {
            font-style: italic;
            margin: 0;
            font-size: 1.7em;
            color: $dark-blue;
        }
        
        p {
            padding: 0 80px;
            font-size: 1.5em;
        }
        
        span {
            position: absolute;
            top: 50%;
            font-size: 2em;
            transform: translateY(-50%);
        }
        
        span.next-modal {
            right: 20px;
            
        }
        
        span.prev-modal {
            left: 20px;
        }
    }
}

#young {
    top: 100%;
    left: 0;
    
    .content {
        width: 50%;
        height: 60%;
        position: absolute;
        left: 0;
        top: 0;
        padding: 20px 50px;
        text-align: center;
        
        h1 {
            font-size: 4em;
            text-transform: uppercase;
            letter-spacing: 5px;
            color: $cyan;
        }
        
        p {
            font-size: 2.5em;
            margin-top: -40px;
        }
    }
    
    .young-list {
        width: 50%;
        position: absolute;
        height: 300px;
        left: 0;
        top: 60%;
        text-align: center;
        
        li {
            width: 160px;
            height: 160px;
            border-radius: 50%;
            text-align: center;
            background-color: $dark-cyan;
            padding: 40px 10px 50px 10px;
            font-size: 2.2em;
            margin-right: 20px;
            display: inline-block;
            color: $light-blue;
            cursor: pointer;
            text-transform: uppercase;
            
            &:nth-of-type(2) {
                transform: translateY(-40px);
            }
        }
    }
    
    .modal {
        position: absolute;
        top: 50%;
        right: 100px;
        height: 500px;
        width: 500px;
        margin: -250px 0 0 -250px;
        background-color: $cyan;
        border-radius: 50%;
        transform: scale(0);
        opacity: 0;
        transition: 0.25s all ease-out;
        text-align: center;
        padding: 50px 0;
        
        &.active {
            transform: scale(1);
            opacity: 1;
            z-index: 4;
        }
        
        h2 {
            font-size: 3em;
            color: $dark-cyan;
            margin: 0;
        }
        
        h3 {
            font-style: italic;
            margin: 0;
            font-size: 1.7em;
            color: $dark-blue;
        }
        
        p {
            padding: 0 80px;
            font-size: 1.5em;
        }
        
        span {
            position: absolute;
            top: 50%;
            font-size: 2em;
            transform: translateY(-50%);
        }
        
        span.next-modal {
            right: 20px;
            
        }
        
        span.prev-modal {
            left: 20px;
        }
    }
}

#young-aaron {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    
}

#lib-overlay {
    height: 1257px;
    width: 1256px;
    position: absolute;
    left: -230px;
    top: 0;
}

#lib-bg {
    height: auto;
    width: auto;
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100vw;
    min-height: 100vh;
}

#example {
    background-color: black;
    top: 100%;
    left: 0;
    
    .example-list {
        position: absolute;
        left: 60%;
        top: 50%;
        transform: translateY(-50%);
        height: auto;
        width: 100%;
        
        li {
            display: block;
            height: 80px;
            line-height: 80px;
            margin: 20px 0;
            background-color: $accomp-blue;
            padding-left: 25px;
            overflow: hidden;
            transition: 0.25s all ease-out;
            transform: translateX(100%);
            font-size: 2.5em;
            cursor: pointer;
            color: $dark-blue;
        }
    }
}

#example-text {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -280px;
    margin-left: 100px;
}

#example-bg {
    position: absolute;
    height: auto;
    min-width: 100vw;
    min-height: 100vh;
    left: 0;
    opacity: 0.2;
    z-index: 3;
    bottom: 0;
    
    &.lighter {
        opacity: 0.6;
    }
}

#example-aaron {
    position: absolute;
    bottom: 20px;
    width: 600px;
}

#sopa {
    top: 100%;
    left: 0;
    
    .content {
        width: 50%;
        height: auto;
        position: absolute;
        left: 0;
        padding: 20px 50px;
        text-align: center;
        bottom: 0;
        transform: translateX(-20%);
        opacity: 0;
        
        p {
            font-size: 3em;
        }
    }
    
    .ba-list {
        float: left;
        width: 100%;
        height: 300px;
        text-align: center;
        
        li {
            width: 160px;
            height: 160px;
            border-radius: 50%;
            line-height: 160px;
            text-align: center;
            background-color: $dark-cyan;
            padding: 0 10px;
            font-size: 2.2em;
            margin-right: 20px;
            display: inline-block;
            color: $light-blue;
            cursor: pointer;
            text-transform: uppercase;
        }
    }
    
    .modal {
        position: absolute;
        top: 50%;
        right: 100px;
        height: 500px;
        width: 500px;
        margin: -250px 0 0 -250px;
        background-color: $cyan;
        border-radius: 50%;
        transform: scale(0);
        opacity: 0;
        transition: 0.25s all ease-out;
        text-align: center;
        padding: 50px 0;
        
        &.active {
            transform: scale(1);
            opacity: 1;
            z-index: 4;
        }
        
        h2 {
            font-size: 3em;
            color: $dark-cyan;
            margin: 0;
            text-transform: uppercase;
            color: $light-blue;
        }
        
        h3 {
            font-style: italic;
            margin: 0;
            font-size: 1.7em;
            color: $dark-blue;
            text-transform: uppercase;
        }
        
        p {
            float: left;
            height: auto;
            font-family: 'League';
            font-size: 2em;
            padding: 0 20px;
            width: 50%;
            
            span {
                font-size: 3em;
                float: left;
                width: 100%;
            }
        }
    }
}

#sopa-bg {
    position: absolute;
    top: 0;
    left: 0;
}

#sopa-text {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -600px;
    transform: translateY(-50%) translateX(-20%);
    opacity: 0;
}

#sopa-aaron {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

#closing {
    top: 100%;
    left: 0;
    
    .closing-list {
        width: 100%;
        padding: 0;
        position: absolute;
        bottom: 0;
        height: 15%;
        margin: 0;
        left: 0;
        z-index: 998;
        
        li {
            float: left;
            width: 33%;
            height: 80px;
            overflow: hidden;
            text-align: center;
            font-size: 2em;
            font-family: 'Open Sans';
            text-transform: uppercase;
            transition: 0.25s opacity ease-out;
            cursor: pointer;
            opacity: 0.8;
            
            &.active {
                opacity: 0 !important;
            }
        }
    }
    
    .modal {
        position: absolute;
        top: 0;
        left: 10%;
        width: 80%;
        height: 0;
        opacity: 0;
        z-index: 5;
        padding: 100px 0;
        transition: 0.5s opacity ease-out;
        overflow: hidden;
        
        h2 {
            float: left;
            width: 100%;
            font-family: 'Open Sans';
            font-size: 2em;
            text-transform: uppercase;
            font-weight: 400;
        }
        
        &.active {
            opacity: 1;
            height: 85%;
        }
        
        h3 {
            font-size: 3em;
            margin: 0 0 5px 0;
        }
        
        p {
            font-size: 1em;
            
            @media screen and (min-width: 1300px) {
                
                font-size: 1.5em;
            }
        }
        
        span {
            width: 100%;
            float: left;
            font-size: 1em;
            font-family: 'Open Sans';
            padding: 0 30px;
        }
    }
}

#after-aaron {
    
    img {
        float: left;
        width: 30%;
        height: auto;
    }
    
    .text-container {
        float: left;
        width: 70%;
        padding-left: 30px;
        padding-right: 40px;
    }
}

#legacy {
    
    img {
        float: left;
        width: 50%;
        height: auto;
        padding-left: 50px;
        padding-top: 50px;
    }
    
    .text-container {
        float: left;
        width: 50%;
        padding-right: 50px;
    }
    
    h2 {
        width: 50%;
        margin-left: 35%;
    }
    
    p {
        font-size: 1.2em;
        line-height: 1.8em;
    }
}

#join {
    
    h2 {
        text-align: right;
    }
    
    img {
        float: left;
        width: 50%;
        padding-left: 30px;
    }
    
    img.bg {
        position: absolute;
        height: 80%;
        width: auto;
        top: 50%;
        left: 50%;
        opacity: 0.8;
        z-index: -1;
        padding-left: 0;
        transform: translateX(-50%) translateY(-50%);
        -webkit-filter: brightness(0);
    }
    
    .text-container {
        float: left;
        width: 50%;
    }
    
    p {
        font-size: 1.5em;
        line-height: 2em;
        padding-right: 30px;
    }
}

#closing-bg {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
}

#closing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -550px;
    transform: translateY(-10%);
    opacity: 0;
}

#closing-text-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -350px;
    transform: translateY(-10%);
    opacity: 0;
    transform: 0.25s all ease-out;
}
