.nav-icon {
  width: 60px;
  height: 45px;
  position: absolute;
  top: 30px;
  right: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(30deg) scale(0.7);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  cursor: pointer;
  z-index: 99999;
  padding: 20px; }
  .nav-icon.open {
    transform: rotate(0) scale(0.7);
    right: 60px; }

.nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.nav-icon.open span {
  background: #fff; }

.nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0; }

.nav-icon span:nth-child(odd) {
  left: 0px;
  border-radius: 0; }

.nav-icon span:nth-child(1), .nav-icon span:nth-child(2) {
  top: 0px; }

.nav-icon span:nth-child(3), .nav-icon span:nth-child(4) {
  top: 18px; }

.nav-icon span:nth-child(5), .nav-icon span:nth-child(6) {
  top: 36px; }

.nav-icon.open span:nth-child(1), .nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.nav-icon.open span:nth-child(2), .nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.nav-icon.open span:nth-child(1) {
  left: 5px;
  top: 7px; }

.nav-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px; }

.nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0; }

.nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0; }

.nav-icon.open span:nth-child(5) {
  left: 5px;
  top: 29px; }

.nav-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px; }

@font-face {
  font-family: 'League';
  src: url("../fonts/LeagueGothic-Regular.otf"); }

* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  height: 20000px; }

h1,
h2,
h3,
li,
a,
span {
  font-family: 'League'; }

p {
  font-family: 'open sans'; }

.league {
  font-family: 'League'; }

section {
  float: left;
  position: fixed;
  height: 100vh;
  width: 100vw;
  color: white;
  overflow: hidden;
  z-index: 2; }

ul {
  list-style-type: none; }

#nav {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: #00aeef;
  transform: rotateZ(150deg) translateY(5%) translateX(-9%);
  transform-origin: 90% 10%;
  transition: 0.25s transform ease-out;
  color: white; }
  #nav.active {
    transform: rotateZ(0) translateY(0) translateX(0); }
    #nav.active ul > li {
      opacity: 1; }
  #nav .nav-list {
    width: 700px;
    height: auto;
    position: absolute;
    top: 50px;
    left: 50%;
    z-index: 999999;
    text-align: center;
    margin-left: -350px; }
    #nav .nav-list li {
      font-family: 'League';
      font-size: 3em;
      text-transform: uppercase;
      padding: 15px 0;
      border-bottom: 1px solid white;
      opacity: 0;
      transition: 0.9s opacity ease-out;
      cursor: pointer; }
      #nav .nav-list li:hover {
        color: #07344a; }
      #nav .nav-list li:nth-of-type(1) {
        letter-spacing: 15px; }
      #nav .nav-list li:nth-of-type(2) {
        letter-spacing: 10px; }
      #nav .nav-list li:nth-of-type(3) {
        letter-spacing: 5px; }
  #nav .copyright {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 0.7em;
    position: absolute;
    left: 0;
    bottom: 75px;
    width: 100%;
    text-align: center; }

#home-aaron {
  height: auto;
  width: 1200px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  margin-left: -600px;
  opacity: 0; }

#home-aaron-bg {
  height: auto;
  width: 1500px;
  min-width: 100vw;
  position: absolute;
  top: -200px;
  left: 50%;
  margin-left: -750px;
  opacity: 0; }

#code-bg {
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 0;
  left: 0; }

#home-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

#home {
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #000f23; }
  #home .title-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    text-align: center;
    text-transform: uppercase; }
    #home .title-container h1 {
      float: left;
      width: 100%;
      font-size: 8em;
      padding: 0;
      margin: 0;
      opacity: 0;
      letter-spacing: 10px; }
    #home .title-container h2 {
      float: left;
      width: 100%;
      font-size: 4em;
      padding: 0;
      margin: 0;
      opacity: 0;
      font-style: italic;
      letter-spacing: 2px; }
  #home .intro-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    text-align: justify;
    z-index: 1;
    padding: 20px 200px;
    font-family: 'League'; }
    #home .intro-container h1 {
      font-size: 3em;
      letter-spacing: 1px;
      text-transform: uppercase; }
      #home .intro-container h1.intro {
        opacity: 1; }
      #home .intro-container h1.intro-finish {
        opacity: 0; }

#accomp {
  background: -webkit-linear-gradient(left, rgba(255, 252, 252, 0) 31%, rgba(255, 252, 252, 0) 35%, rgba(0, 174, 239, 0.2) 40%, #000f23 71%, #000f23 100%), url("../img/Accomp-Aaron-Background.png");
  background-size: auto;
  background-position: right, -400px 0%;
  background-repeat: no-repeat;
  position: fixed;
  top: 100%;
  left: 0; }
  #accomp .accomp-list {
    position: absolute;
    left: 60%;
    height: 100%;
    width: 100%; }
    #accomp .accomp-list li {
      display: block;
      height: 80px;
      line-height: 80px;
      margin: 20px 0;
      background-color: #2192c9;
      padding-left: 25px;
      overflow: hidden;
      transition: 0.25s all ease-out;
      transform: translateX(100%);
      font-size: 2.5em;
      cursor: pointer;
      color: #000f23; }
  #accomp .content {
    position: absolute;
    top: 50%;
    left: 50px;
    margin-top: -100px;
    width: 50%;
    height: 300px;
    font-size: 2.8em;
    padding: 0 120px 0 30px;
    opacity: 0;
    text-align: center; }
  #accomp .modal {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-60%);
    height: 0px;
    width: 60%;
    transition: 0.25s height ease-out;
    overflow: hidden;
    background-color: #000f23;
    padding: 0 50px 0 20px; }
    #accomp .modal h2 {
      font-size: 2em;
      letter-spacing: 2px; }
    #accomp .modal p {
      opacity: 0;
      transition: 0.5s opacity ease-out; }
    #accomp .modal span {
      position: absolute;
      top: 25px;
      right: 50px;
      padding: 0 10px;
      cursor: pointer; }
    #accomp .modal.active {
      height: 200px; }
      #accomp .modal.active p {
        opacity: 1; }

#accomp-aaron {
  position: absolute;
  left: -200px;
  bottom: -50px;
  height: 800px; }

#charges {
  top: 100%;
  left: 0;
  background: black; }
  #charges video {
    height: 150%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%); }
  #charges .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgba(0, 0, 0, 0.5);
    text-align: center; }
    #charges .content p {
      width: 1000px;
      height: auto;
      font-size: 3em;
      color: #fff; }
      #charges .content p span {
        display: block;
        font-size: 1.8em;
        color: #c6eafb;
        width: 1000px; }
  #charges .charge-list {
    width: 100%;
    position: absolute;
    left: 0;
    top: 60%;
    height: auto;
    text-align: center; }
    #charges .charge-list li {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      text-align: center;
      background-color: #07344a;
      padding: 40px 10px 50px 10px;
      font-size: 2.2em;
      margin-right: 20px;
      display: inline-block;
      color: #c6eafb;
      cursor: pointer;
      text-transform: uppercase; }
      #charges .charge-list li:nth-of-type(1) {
        transform: translateY(-40px);
        padding-top: 40px; }
  #charges .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 500px;
    margin: -250px 0 0 -250px;
    background-color: #00aeef;
    border-radius: 50%;
    transform: scale(0);
    opacity: 0;
    transition: 0.25s all ease-out;
    text-align: center;
    padding: 100px 0; }
    #charges .modal.active {
      transform: scale(1);
      opacity: 1;
      z-index: 4; }
    #charges .modal h2 {
      font-size: 3em;
      color: #07344a;
      margin: 0; }
    #charges .modal h3 {
      font-style: italic;
      margin: 0;
      font-size: 1.7em;
      color: #000f23; }
    #charges .modal p {
      padding: 0 80px;
      font-size: 1.5em; }
    #charges .modal span {
      position: absolute;
      top: 50%;
      font-size: 2em;
      transform: translateY(-50%); }
    #charges .modal span.next-modal {
      right: 20px; }
    #charges .modal span.prev-modal {
      left: 20px; }

#young {
  top: 100%;
  left: 0; }
  #young .content {
    width: 50%;
    height: 60%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 50px;
    text-align: center; }
    #young .content h1 {
      font-size: 4em;
      text-transform: uppercase;
      letter-spacing: 5px;
      color: #00aeef; }
    #young .content p {
      font-size: 2.5em;
      margin-top: -40px; }
  #young .young-list {
    width: 50%;
    position: absolute;
    height: 300px;
    left: 0;
    top: 60%;
    text-align: center; }
    #young .young-list li {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      text-align: center;
      background-color: #07344a;
      padding: 40px 10px 50px 10px;
      font-size: 2.2em;
      margin-right: 20px;
      display: inline-block;
      color: #c6eafb;
      cursor: pointer;
      text-transform: uppercase; }
      #young .young-list li:nth-of-type(2) {
        transform: translateY(-40px); }
  #young .modal {
    position: absolute;
    top: 50%;
    right: 100px;
    height: 500px;
    width: 500px;
    margin: -250px 0 0 -250px;
    background-color: #00aeef;
    border-radius: 50%;
    transform: scale(0);
    opacity: 0;
    transition: 0.25s all ease-out;
    text-align: center;
    padding: 50px 0; }
    #young .modal.active {
      transform: scale(1);
      opacity: 1;
      z-index: 4; }
    #young .modal h2 {
      font-size: 3em;
      color: #07344a;
      margin: 0; }
    #young .modal h3 {
      font-style: italic;
      margin: 0;
      font-size: 1.7em;
      color: #000f23; }
    #young .modal p {
      padding: 0 80px;
      font-size: 1.5em; }
    #young .modal span {
      position: absolute;
      top: 50%;
      font-size: 2em;
      transform: translateY(-50%); }
    #young .modal span.next-modal {
      right: 20px; }
    #young .modal span.prev-modal {
      left: 20px; }

#young-aaron {
  position: absolute;
  top: 0;
  right: 0;
  width: 700px; }

#lib-overlay {
  height: 1257px;
  width: 1256px;
  position: absolute;
  left: -230px;
  top: 0; }

#lib-bg {
  height: auto;
  width: auto;
  position: absolute;
  left: 0;
  top: 0; }

#example {
  background-color: black;
  top: 100%;
  left: 0; }
  #example .example-list {
    position: absolute;
    left: 60%;
    top: 0;
    height: 100%;
    width: 100%; }
    #example .example-list li {
      display: block;
      height: 80px;
      line-height: 80px;
      margin: 20px 0;
      background-color: #2192c9;
      padding-left: 25px;
      overflow: hidden;
      transition: 0.25s all ease-out;
      transform: translateX(100%);
      font-size: 2.5em;
      cursor: pointer;
      color: #000f23; }

#example-text {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -280px;
  margin-left: 100px; }

#example-bg {
  position: absolute;
  height: auto;
  min-width: 100vw;
  min-height: 100vh;
  left: 0;
  opacity: 0.2;
  z-index: 3;
  bottom: 0; }
  #example-bg.lighter {
    opacity: 0.6; }

#example-aaron {
  position: absolute;
  bottom: 20px;
  width: 600px; }

#sopa {
  top: 100%;
  left: 0; }
  #sopa .content {
    width: 50%;
    height: auto;
    position: absolute;
    left: 0;
    padding: 20px 50px;
    text-align: center;
    bottom: 0;
    transform: translateX(-20%);
    opacity: 0; }
    #sopa .content p {
      font-size: 3em; }
  #sopa .ba-list {
    float: left;
    width: 100%;
    height: 300px;
    text-align: center; }
    #sopa .ba-list li {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      line-height: 160px;
      text-align: center;
      background-color: #07344a;
      padding: 0 10px;
      font-size: 2.2em;
      margin-right: 20px;
      display: inline-block;
      color: #c6eafb;
      cursor: pointer;
      text-transform: uppercase; }
  #sopa .modal {
    position: absolute;
    top: 50%;
    right: 100px;
    height: 500px;
    width: 500px;
    margin: -250px 0 0 -250px;
    background-color: #00aeef;
    border-radius: 50%;
    transform: scale(0);
    opacity: 0;
    transition: 0.25s all ease-out;
    text-align: center;
    padding: 50px 0; }
    #sopa .modal.active {
      transform: scale(1);
      opacity: 1;
      z-index: 4; }
    #sopa .modal h2 {
      font-size: 3em;
      color: #07344a;
      margin: 0;
      text-transform: uppercase;
      color: #c6eafb; }
    #sopa .modal h3 {
      font-style: italic;
      margin: 0;
      font-size: 1.7em;
      color: #000f23;
      text-transform: uppercase; }
    #sopa .modal p {
      float: left;
      height: auto;
      font-family: 'League';
      font-size: 2em;
      padding: 0 20px;
      width: 50%; }
      #sopa .modal p span {
        font-size: 3em;
        float: left;
        width: 100%; }

#sopa-bg {
  position: absolute;
  top: 0;
  left: 0; }

#sopa-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -600px;
  transform: translateY(-50%) translateX(-20%);
  opacity: 0; }

#sopa-aaron {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%; }

#closing {
  top: 100%;
  left: 0; }
  #closing .closing-list {
    width: 50%;
    position: absolute;
    height: 300px;
    left: 50%;
    top: 50%;
    margin-top: 120px;
    margin-left: -175px;
    text-align: center; }
    #closing .closing-list li {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      text-align: center;
      background-color: #07344a;
      padding: 40px 10px 50px 10px;
      font-size: 2.2em;
      margin-right: 20px;
      display: inline-block;
      color: #c6eafb;
      cursor: pointer;
      text-transform: uppercase; }
      #closing .closing-list li:nth-of-type(1) {
        padding-top: 15px;
        transform: translateY(20px); }
      #closing .closing-list li:nth-of-type(2) {
        transform: translateY(-30px);
        padding-top: 50px; }

#closing-bg {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh; }

#closing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -350px;
  margin-left: -550px;
  transform: translateY(-10%);
  opacity: 0; }
